---
layout: page
title: Team
permalink: /team/
---

{% for member in site.data.team %}
  <div itemscope itemtype="http://schema.org/Person">
    <h3 itemprop="name">{{ member.name }}</h3>
    {% if member.avatar %}
    <figure>
      <img 
        itemprop="image" 
        src="{{ member.avatar }}" 
        alt="{{ member.name }}">
    </figure>
    {% endif %}
    {% if member.bio %}
    <p>
      {{ member.bio }}
    </p>
    {% endif %}
    <ul>
      {% if member.website %}
      <li>
        Website:
        <a itemprop="sameAs" href="{{ member.website }}">
          {{ member.website }}
        </a>
      </li>
      {% endif %}
      {% if member.github %}
      <li>
        GitHub:
        <a itemprop="sameAs" href="https://github.com/{{ member.github }}">
          {{ member.github }}
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
{% endfor %}
