<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% if page.is_post %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.0.1/anchor.min.js"></script>
    <script>
      if(typeof anchors !== 'undefined') {
        anchors.add();
        anchors.remove('.post-title');
      }
    </script>
    {% endif %}
  </body>

</html>
